

/* Start:/local/templates/furniture_blue_D7/components/bitrix/news/new_news_d/bitrix/news.detail/.default/style.css?1614007895124*/
div.news-detail img.detail_picture {
    float: left;
    margin: 0 8px 6px 1px;
}

.news-date-time {
    color: #486DAA;
}

/* End */
/* /local/templates/furniture_blue_D7/components/bitrix/news/new_news_d/bitrix/news.detail/.default/style.css?1614007895124 */
